<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://www.girlgonegourmet.com/beef-broccoli/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.foodnetwork.com/recipes/food-network-kitchen/slow-cooker-chinese-beef-and-bok-choy-3363605</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.beefitswhatsfordinner.com/recipes/recipe/101/beef-asparagus-pasta-toss</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.tasteofhome.com/recipes/ground-beef-taco-salad/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.allrecipes.com/recipe/277012/zucchini-and-ground-beef-skillet/</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.emilieeats.com/takeout-style-tofu-and-broccoli/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.sandravalvassori.com/tofu-and-bok-choy-stir-fry/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://simple-veganista.com/grilled-tofu-asparagus-ginger-cauliflower-rice/</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.foodnetwork.com/recipes/ree-drummond/sesame-tofu-salad-3284693</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.foodandwine.com/recipes/spicy-tofu-and-zucchini-stew</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.eatingwell.com/recipe/7919492/one-pot-garlicky-shrimp-broccoli/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.thechunkychef.com/chili-garlic-sheet-pan-shrimp-with-baby-bok-choy/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.nourish-and-fete.com/lemon-asparagus-pasta/</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.dinneratthezoo.com/seafood-salad/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.foodandwine.com/recipes/spaghetti-with-grilled-shrimp-zucchini-and-salsa-verde</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pinchofyum.com/creamy-chicken-quinoa-broccoli-casserole</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://whiskitrealgud.com/crispy-smothered-chicken-with-roasted-baby-bok-choy-and-mushrooms/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://reciperunner.com/one-pot-creamy-chicken-asparagus-casserole/</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.asouthernsoul.com/cranberry-pecan-chicken-salad/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.allrecipes.com/recipe/222585/baked-chicken-and-zucchini/</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Comfort</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://allthehealthythings.com/healthy-beef-and-broccoli-stir-fry/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.eatingwell.com/recipe/274838/chinese-ginger-beef-stir-fry-with-baby-bok-choy/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.myrecipes.com/recipe/steak-asparagus-stir-fry</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://healthyrecipesblogs.com/steak-salad/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.primaverakitchen.com/quick-beef-and-zucchini-skillet/</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Beef</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://omnivorescookbook.com/tofu-and-broccoli/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.feastingathome.com/black-pepper-tofu-with-bok-choy/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.bonappetit.com/recipe/black-pepper-tofu-and-asparagus</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.allrecipes.com/recipe/83576/tofu-salad/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.vanillabeancuisine.com/zucchini-stir-fry-with-tofu/</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Tofu</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.averiecooks.com/10-minute-lemon-butter-shrimp-and-broccoli/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://rasamalaysia.com/baby-bok-choy-with-garlic-and-shrimp/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.eatingwell.com/recipe/263576/sauteed-shrimp-and-asparagus/</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.skinnytaste.com/zesty-lime-shrimp-and-avocado-salad/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.wellplated.com/healthy-shrimp-scampi/</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Seafood</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://allthehealthythings.com/healthy-chicken-broccoli-stir-fry-whole30/</string>
		<key>veggie</key>
		<string>Broccoli</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://amindfullmom.com/stir-fried-chicken-bok-choy/</string>
		<key>veggie</key>
		<string>Bok Choy</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://pinchofyum.com/5-ingredient-lemon-chicken-asparagus</string>
		<key>veggie</key>
		<string>Asparagus</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://gimmedelicious.com/greek-avocado-grilled-chicken-salad-with-greek-dressing/</string>
		<key>veggie</key>
		<string>Salad</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.cookingclassy.com/healthy-lemon-parmesan-chicken-and-veggies-cooking-classy/</string>
		<key>veggie</key>
		<string>Zucchini</string>
		<key>protein</key>
		<string>Chicken</string>
		<key>type</key>
		<string>Healthy</string>
	</dict>
</array>
</plist>
